*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --white: #f5f5f5;
  --black: #424242;
  --red: #e90000;
  --light-red: #ff4d4d;
  cursor: url("../img/icone_px/cursor2.cur") 30 18, auto;
}

@font-face {
  font-family: "Baunk";
  src: local("Baunk"), url(font/Baunk.woff), format("woff");
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
}

.baunk {
  font-family: "Baunk";
  font-weight: 400;
  font-style: normal;
}

.red {
  color: var(--red);
}

body {
  background-color: var(--white);
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.body-internet {
  height: 2000vh !important;
}

body:active {
  cursor: url("../img/icone_px/cursor-click.cur") 30 18, auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 15vh;
  text-align: start;
}

p {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

main {
  height: 75vh;
  position: relative;
}

.header-chargement {
  display: flex;
  justify-content: center;
}

.logo-internet {
  height: 30px;
  width: auto;
}

.main-chargement {
  margin: 0 100px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.point1 {
  position: relative;
  animation: clignoter 2s infinite ease-in-out;
  animation-delay: 0s;
}
.point2 {
  position: relative;
  animation: clignoter 2s infinite ease-in-out;
  animation-delay: 0.25s;
}
.point3 {
  position: relative;
  animation: clignoter 2s infinite ease-in-out;
  animation-delay: 0.5s;
}

main > p {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 6.5rem;
  margin: 0;
}

@keyframes clignoter {
  20% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
    opacity: 0.2;
  }
  80% {
    bottom: 0;
  }
}

.footer-chargement {
  margin: 0 100px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: var(--red);
  box-shadow: inset 0 -4px 10px #720000, inset 0 8px 20px #ff7676;
  color: var(--white);
  z-index: 9999;
}

.footer-popup {
  background-color: transparent;
  font-size: 0.7rem;
  padding: 0px 40px;
  box-shadow: none;
}

.footer-popup a {
  color: var(--red);
}

.nav-links,
.footer-links,
.footer-infos {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.start-menu-button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
  background-color: var(--light-red);
  box-shadow: inset 2px -4px 10px #720000, inset 0 8px 20px #fe9090;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}
/* 

.close {
  transform: translateY(70vh);
  transition: transform 0.1s ease-in-out;
}

.start-menu {
  z-index: 9998;
  display: none;
  height: 70vh;
  width: 450px;
  position: fixed;
  bottom: 6vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-red);
  box-shadow: inset 0 -4px 10px #720000, inset 0 8px 20px #fe9090;
  transition: transform 0.1s ease-in-out;
}

.start-menu a {
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.start-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 20px 0 20px;
  color: var(--white);
}

.start-menu-header img {
  height: 50px;
  width: auto;
  border-radius: 5px;
  border: solid var(--white) 2px;
  object-fit: contain;
}

.start-menu-content {
  height: 75%;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
  background-color: var(--white);
}

.start-menu-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

.start-menu-row:hover {
  background-color: var(--light-red);
}
  */

.start-menu {
  position: fixed;
  bottom: 6vh;
  left: 0;
  width: 420px;
  height: 70vh;

  background: linear-gradient(
    to right,
    #fff5f5 0%,
    #fff5f5 55%,
    #b80000 55%,
    #7a0000 100%
  );

  border-radius: 10px 10px 0 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), inset 0 2px 5px #ff9b9b,
    inset 0 -5px 10px #5a0000;

  overflow: hidden;
  transform: translateY(70vh);
  transition: transform 0.2s ease-out;
  display: flex;
  flex-direction: column;
  z-index: 9998;
}

.start-menu:not(.close) {
  transform: translateY(0);
}

.start-menu-header {
  height: 90px;
  background: linear-gradient(#ff4c4c, #8b0000);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.start-menu-header img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: inset 0 0 5px #ffaaaa;
}

.start-menu-content {
  flex: 1;
  background: #fff5f5;
  padding: 10px;
  overflow-y: auto;
}

.start-menu-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  color: #8b0000;
  font-weight: bold;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

.start-menu-row:hover {
  background: linear-gradient(#ffd6d6, #ff9b9b);
}

.start-menu-footer {
  height: 60px;
  background: linear-gradient(#8b0000, #4a0000);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}

.start-menu-footer a {
  display: flex;
  align-items: center;
  gap: 8px;

  background: linear-gradient(#ffffff, #e6e6e6);
  border-radius: 4px;
  padding: 0 20px;

  text-decoration: none;
  color: #7a0000;

  transition: all 0.1s ease;
}

.start-menu-footer a:hover {
  background: linear-gradient(#fff0f0, #ffcccc);
}

.start-menu-footer a:active {
  box-shadow: inset 0 3px 6px #a00000, inset 0 -1px 2px #ffffff;
  transform: translateY(1px);
}

.start-menu-footer a img {
  width: 25px;
  height: 25px;
}

.start-menu-button {
  background: linear-gradient(#ff4c4c, #8b0000);
  box-shadow: inset 0 2px 4px #ffb3b3, inset 0 -3px 5px #5a0000;
  border-radius: 0 10px 10px 0;
}

.icon-start {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.footer-infos {
  background-color: var(--light-red);
  box-shadow: inset 0 -4px 10px #720000, inset 0 8px 20px #fe9090;
  padding: 0 0 0 20px;
}

.dateandtime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 30px 5px 30px;
}

.dateandtime p {
  margin: 0;
}

.icon-son {
  width: 30px;
  height: 30px;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

.icon-son:active {
  cursor: url("../img/icone_px/pointer-click.cur") 30 18, pointer;
}

.sound-bar input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100px;
  height: 5px;
  background: var(--white);
  border-radius: 5px;
  outline: none;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

a {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  color: var(--black);
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

/* Accueil */

.scroll-container {
  position: fixed;
  top: 15vh;
  left: 50px;
  right: 100px;
  height: 75vh;
}

li {
  list-style: none;
  font-size: 0.7rem;
}

main .title-accueil {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.title-accueil h1 {
  font-size: 1.8rem;
}
.title-accueil h1 span {
  font-size: 0.7rem;
}

.title-accueil h1 {
  position: relative;
  bottom: -30px;
  left: 7px;
}

.title-accueil h2 {
  font-size: 4rem;
}

.grid {
  position: absolute;
  top: 15%;
  left: 29vw;
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--red);
}
.cell:nth-child(10n + 1) {
  border-left: 2px solid var(--red);
}
.cell:nth-child(-n + 10) {
  border-top: 2px solid var(--red);
}
.cell:nth-child(10n) {
  border-right: 2px solid var(--red);
}
.cell:nth-last-child(-n + 10) {
  border-bottom: 2px solid var(--red);
}

.scroll-indicator {
  position: absolute;
  bottom: -20px;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}

.scroll-indicator .arrow {
  display: block;
  width: 24px;
  height: 24px;
  border-right: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
  margin: 0 auto 0px auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0) rotate(45deg);
  }
  40% {
    transform: translateX(-50%) translateY(-10px) rotate(45deg);
  }
  60% {
    transform: translateX(-50%) translateY(-5px) rotate(45deg);
  }
}

/* Texte écrit */

#presentation-text {
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-line;
  overflow: hidden;
}

/* Ordinateur */

.background-video {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.header-ordi {
  height: 5vh;
  border-bottom: 1px solid var(--red);
}

.grid-icones {
  display: grid;
  grid-template-columns: repeat(2, 120px); /* 2 colonnes */
  grid-auto-rows: 120px; /* espacement vertical */
  gap: 20px;
  height: 100%;
  justify-content: end; /* coller à droite */
  align-content: start; /* coller en haut */
  padding: 20px;
}

/* Icone Ordi */

.icone-ordi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
  height: 120px;
  width: 120px;
}

.icone-ordi:active {
  cursor: url("../img/icone_px/pointer-click.cur") 30 18, pointer;
}

.icone-ordi img {
  height: 100px;
  width: auto;
}

.icone-ordi img.dossier {
  height: 60px;
  margin: 13px;
  width: auto;
}

.icone-ordi img.internet {
  height: 80px;
  margin: 5px;
  width: auto;
}

.icone-ordi img.mail {
  height: 90px;
}

.icone-ordi img.bloc-note {
  height: 90px;
  width: auto;
}

.icone-ordi p {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
}

.icone-ordi:hover p {
  text-decoration: underline;
}

/* Popup Ordi */

.popup {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 150px;
  left: 250px;
  border: 1px solid var(--red);
  /* outline: 1px solid var(--white); */
  border-radius: 5px 0 0 0;
  background-color: var(--white);
  display: none;
  flex-direction: column;
  cursor: url("../img/icone_px/cursor2.cur") 30 18, auto;
  z-index: 1000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--red);
  color: white;
  font-weight: bold;
  border-radius: 5px 0 0 0;
  cursor: url("../img/icone_px/grab.cur") 30 18, auto;
  box-shadow: inset -4px -4px 10px #720000, inset 4px 4px 20px #ff7676;
}

.popup-header:active {
  cursor: url("../img/icone_px/grabbing.cur") 30 18, auto;
}

.popup-close {
  margin: 2px 0;
  background: var(--white);
  color: var(--red);
  border-top: var(--black) 1px solid;
  border-left: var(--black) 1px solid;
  border-right: none;
  border-bottom: none;
  outline: var(--white) 0.5px solid;
  box-shadow: var(--black) 1px 1px 2px 1px;
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

.popup-close:active {
  cursor: url("../img/icone_px/pointer-click.cur") 30 18, pointer;
}

.popup-body {
  padding: 15px;
  flex: 1;
  cursor: url("../img/icone_px/cursor2.cur") 30 18, auto;
}

.popup-body:active {
  cursor: url("../img/icone_px/cursor-click.cur") 30 18, auto;
}

#popup-presentation {
  top: 120px;
  left: 1050px;
  height: 340px;
}

#popup-projets {
  top: 320px;
  left: 350px;
  height: 400px;
}

.button-linkedin {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.button-linkedin:hover {
  background-color: var(--light-red);
  color: var(--white);
  border: var(--white);
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}

#popup-mail {
  top: 100px;
  left: 550px;
}

#popup-Internet {
  bottom: 0px;
  left: 10px;
  height: 70vh;
  width: 60vw;
}

#popup-Internet .popup-body {
  padding: 0;
  border: 2px solid var(--red);
}

#popup-Internet iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#popup-GitHub {
  top: 650px;
  left: 1400px;
}
#popup-cv {
  top: 10px;
  left: 10px;
  height: auto;
  width: auto;
}

#popup-cv img {
  pointer-events: none;
}

#popup-cv .popup-body {
  padding: 0;
}

.cv-image {
  height: 600px;
  width: auto;
}

#popup-poweroff {
  z-index: 10001;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loader */

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/15%;
  background: linear-gradient(#e90000 0 0) 0/0% no-repeat #ddd;
  animation: l4 3s infinite steps(8);
}
@keyframes l4 {
  100% {
    background-size: 120%;
  }
}

/* Popup power off */

.button-choice {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
  margin: 0 10px;
}
.button-choice:hover {
  background-color: var(--light-red);
  color: var(--white);
  border: var(--white);
  cursor: url("../img/icone_px/pointer.cur") 30 18, pointer;
}
.button-choice:active {
  cursor: url("../img/icone_px/pointer-click.cur") 30 18, pointer;
}

#button-yes-poweroff {
  position: absolute;
  transition: transform 0.15s ease-out;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(40, 0, 0, 0.65);
  backdrop-filter: blur(2px);
  z-index: 10000;
  display: none;
}
