*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --orange: #CF801D;
    --black: #060218;
    --light-orange: #CFA364;
    --green: #6B8343;
}

/* ---- Font Class ---- */

.aboreto {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.alex-brush {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat-200 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ---- General Styles ---- */


body {
    padding: 0;
    margin: 0;
    background-color: var(--black);
}

a {
    text-decoration: none;
    color: var(--white);
}

header {
    position: relative;
    padding-top: 1dvh;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100vw;
    height: 10dvh;
    z-index: 2;
}

nav {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 1.2rem;
    color: var(--white);
    transition: color 0.4s ease;
}

header a:hover {
    color: var(--orange);
}

/* header .right-nav>a::after {
    content: "";
    display: block;
    width: 0;
    height: 0.5px;
    margin-top: 2px;
    background-color: var(--white);
    transition: width 0.5s ease;
}

header .right-nav>a:hover::after {
    width: 100%;
} */


.right-nav {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

h2 {
    color: var(--white);
}

.title-nav {
    color: var(--white);
    font-size: 1.9rem;
    padding: 0;
}

p {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    margin: 20px;
}


.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

.light-orange {
    color: var(--light-orange);
}

.keyWord {
    display: inline-block;
    background: linear-gradient(to left, #CC5050 20%, #F5AC4F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);
}

/* ---- Burger Button & Animation Class ---- */

@media screen and (min-width: 1024px) {
    .menu {
        display: none;
    }

    .right-nav {
        display: flex;
    }

}

.button-language {
    cursor: pointer;
    background-color: var(--white);
    width: 60px;
    height: 30px;
    border-radius: 50px;
}

.menu {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: opacity 1s;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.menu .line-burger {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--white);
}

.line-burger:nth-child(2) {
    width: 20px;
}

.line-burger:nth-child(3) {
    width: 25px;
}

/* ---- Clip Path ---- */

.circle {
    background-color: var(--black);
    width: 100vw;
    height: 100dvh;
    clip-path: circle(0.0% at 105% -5%);
    transition: clip-path 1.5s;
    position: absolute;
    z-index: 1;
}

.clip-path-active {
    background-color: var(--black);
    z-index: 1;
    width: 100vw;
    height: 100dvh;
    clip-path: circle(200% at 100% 0);
    transition: clip-path 1.5s;
}

.hide {
    display: none;
}

.transparent {
    opacity: 0;
    transition: opacity 1s;
    cursor: default !important;
}

.cache {
    transform: translateX(100%);
    transition: transform 1s;
}

.cache1 {
    transform: translateX(100%);
    transition: transform 0.75s;
}

.cache2 {
    transform: translateX(100%);
    transition: transform 1s;
}

.cache3 {
    transform: translateX(100%);
    transition: transform 1.25s;
}

.cache4 {
    transform: translateX(100%);
    transition: transform 0.6s;
}

.cache-burger1 {
    transform: translateX(50px);
    transition: transform 0.75s;
}

.cache-burger2 {
    transform: translateX(50px);
    transition: transform 1s;
}

.cache-burger3 {
    transform: translateX(50px);
    transition: transform 1.25s;
}

.visible1 {
    display: block;
    transition: transform 0.75s;
}

.visible2 {
    display: block;
    transition: transform 1s;
}

.visible3 {
    display: block;
    transition: transform 1.25s;
}

.visible4 {
    display: block;
    transition: transform 0.6s;
}

.visible {
    display: block;
    transition: transform 1s;
}

/* ---- Burger Menu Open ---- */

.sidenav {
    height: 100dvh;
    width: 100vw;
    z-index: 3;
    position: fixed;
    top: 0;
}

.sidenav-placement {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav li::before {
    content: "";
    border-color: transparent var(--white);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.sidenav li {
    font-size: 2rem;
    margin-bottom: 3.5dvh;
    padding-bottom: 20px;
    margin-top: 3.5dvh;
    margin-left: 20px;
}

.sidenav ul li a:hover {
    color: var(--orange);
    background-color: var(--orange);
}

.line {
    border: 1px solid var(--white);
    max-width: 275px;
    width: 60vw;
}

.close-button {
    cursor: pointer;
    margin: auto;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 4px;
    background-color: var(--white);
    border-radius: 2px;
}

.close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* Characters Accueil */

.character {
    position: relative;
    left: 10px;
    filter: drop-shadow(0 25px 15px rgba(0, 0, 0, 0.2));
}

.character1 {
    position: relative;
    width: 30px;
    height: 30px;
    transform: rotate(-15deg);
    bottom: 20px;
    animation: float 4s infinite ease-in-out;
}

.character2 {
    position: relative;
    width: 40px;
    height: 40px;
    animation: float 4.5s infinite ease-in-out;
}

.character3 {
    position: relative;
    width: 60px;
    height: 60px;
    transform: rotate(10deg);
    bottom: 20px;
    animation: float 5s infinite ease-in-out;
}

@keyframes float {
    0% {
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
        transform: translateY(0);
    }

    50% {
        filter: drop-shadow(0 5px 15px rgba(255, 237, 168, 0.8));
        transform: translateY(-20px);
    }

    100% {
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    35% {
        transform: translateY(-8px);
    }

    60% {
        filter: drop-shadow(0 5px 15px rgba(255, 237, 168, 0.8));
        transform: translateY(-20px);
    }

    100% {
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
        transform: translateY(0);
    }
}

@keyframes float3 {
    0% {
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
        transform: translateY(0);
    }

    50% {
        filter: drop-shadow(0 5px 15px rgba(255, 237, 168, 0.8));
        transform: translateY(-15px);
    }

    100% {
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
        transform: translateY(0);
    }
}

/* ---- Main Screen ---- */

.bulle-container {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}

.bulle {
    position: absolute;
}

.bulle1 {
    width: 800px;
    height: 800px;
    bottom: -340px;
    left: -250px;
    animation: bulle 4s infinite ease-in-out;
}

.bulle2 {
    width: 600px;
    height: 600px;
    top: -270px;
    left: 20vw;
    animation: bulle 3s infinite ease-in-out;
}

.bulle3 {
    width: 300px;
    height: 300px;
    right: 90px;
    bottom: -130px;
    animation: bulle 4.5s infinite ease-in-out;
}

.bulle4 {
    width: 290px;
    height: 290px;
    bottom: 100px;
    right: -20px;
    animation: bulle 5.4s infinite ease-in-out;
}

.bulle5 {
    opacity: 0.7;
    width: 150px;
    height: 150px;
    top: 280px;
    right: 300px;
    animation: bulle 6s infinite ease-in-out;
}

.bulle6 {
    opacity: 0.5;
    width: 100px;
    height: 100px;
    top: 240px;
    right: 250px;
    animation: bulle 5s infinite ease-in-out;
}

@keyframes bulle {
    0% {
        transform: translateY(0) translateX(0) scale(1) rotate(0deg);
        filter: brightness(1);
    }

    50% {
        transform: translateY(-20px) translateX(10px) scale(1.02) rotate(15deg);
        filter: brightness(1.1);
    }

    100% {
        transform: translateY(0) translateX(0) scale(1) rotate(0deg);
        filter: brightness(1);
    }
}

.title-accueil {
    color: var(--white);
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titles {
    margin-top: 10vh;
}

.main-title-name {
    color: var(--white);
    font-size: 5rem;
    margin-left: 2vw;
    margin-bottom: -2vh;

}

.main-title-secondary {
    color: var(--white);
    font-size: 3.5rem;
    margin-left: 30vw;
    margin-top: 0;
}

/* .change-color {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    text-shadow: 1px 1px 4px var(--orange), -1px -1px 4px var(--green), 2px -2px 5px var(--light-orange);
    animation: shadow-move 4s infinite ease;
}

@keyframes shadow-move {
    0% {
        text-shadow: 2px 2px 5px var(--orange), -2px -2px 5px var(--green), 2px -2px 5px var(--light-orange);
    }
    50% {
        text-shadow: -2px -2px 5px var(--orange), 2px 2px 5px var(--green), -2px 2px 5px var(--light-orange);
    }
    100% {
        text-shadow: 2px 2px 5px var(--orange), -2px -2px 5px var(--green), 2px -2px 5px var(--light-orange);
    }
} */




a.button {
    cursor: pointer;
    color: var(--white);
    width: 230px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    outline: var(--white) solid 1px;
    border: 0px solid transparent;
    outline-offset: 3px;
    transition: all 1s ease;
}

a.button:hover {
    outline-offset: 10px;
    border: 2px solid var(--orange);
    outline: solid transparent 1px;
}

a.button-start {
    margin-top: 13vh;
}

a.button:focus-visible {
    outline: solid var(--orange) 3px;
}

/* Projects */



.project-page-flex{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.projet-section{
    height: 80dvh;
    width:100vw;
}

.project-title-responsive{
    display: none;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    perspective: 1000px;
    flex-wrap: wrap;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 210px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5.3px);
    border: solid var(--white) 1px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
    }
    to {
        opacity: 1;
    }
}

.project:nth-child(1) {
    transform: rotate(-35deg) translateY(-100px) translateX(-360px);
}

.project:nth-child(2) {
    transform: rotate(-20deg) translateY(-40px) translateX(-180px);
}

.project:nth-child(3) {
    transform: rotate(0deg);
}

.project:nth-child(4) {
    transform: rotate(20deg) translateY(-40px) translateX(180px);
}

.project:nth-child(5) {
    transform: rotate(35deg) translateY(-100px) translateX(360px);
}

.container-images {
    overflow: hidden;
    width: 150px;
    height: 110px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: solid var(--white) 1px;
    border-radius: 8px;
}

.project-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    transition: all 0.7s ease;
}

.project:hover {
    z-index: 10;
    background-color: var(--black);
}


.project:hover .project-image {
    transform: scale(1.2);
}


.project-name {
    margin-top: 10px;
    font-size: 1.2rem;
}

.project-link {
    background-color: var(--black);
    color: var(--white);
    border: solid var(--white) 1px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.project:hover .project-link {
    background-color: var(--white);
    color: var(--black);
}

.project-link:hover {
    background-color: var(--orange)!important;
    border: solid var(--orange) 1px;
}

button:focus-visible {
    outline: solid var(--orange) 3px;
    color: var(--orange);
}

.illustration{
    height: 300px;
    width: auto;
    object-fit: cover;
    animation: fadeIn 1s ease forwards;
}




.popup-projet{
    position: fixed;
    display: none;
    top: 100%;
    left: 20vh;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    z-index: 1000;
    transition: all 0.5s ease;
}

.visible {
    top: 10vh;
    display: block;
}


.image1{
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.image2{
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.image3{
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
    .aside-projects {
        display: none;
    }

    .project-title-responsive{
        display: block;
        color: var(--white);
        font-size: 4rem;
    }

    .project:nth-child(1),
    .project:nth-child(5) {
        transform: rotate(0deg) translateY(0px);
    }

    .project:nth-child(2),
    .project:nth-child(4) {
        transform: rotate(0deg) translateY(0);
    }

    .projects-container {
        flex-wrap: wrap;
        height: auto;
    }

    .project {
        position: relative;
        margin: 20px;
        transform: none;
    }
}

@media screen and (max-width: 768px) {
    .project {
        width: 180px;
        height: 260px;
        font-size: 16px;
    }

    .container-images {
        width: 120px;
        height: 90px;
    }

    .project-name {
        font-size: 1rem;
    }

    .project-link {
        font-size: 1rem;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .project {
        width: 150px;
        height: 220px;
        font-size: 14px;
    }

    .container-images {
        width: 100px;
        height: 80px;
    }

    .project-name {
        font-size: 0.9rem;
    }

    .project-link {
        font-size: 0.9rem;
        padding: 6px;
    }
}

  

/* --- Presentation ---- */

.bulle-container2 {
    position: absolute;
    height: 290dvh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}

aside {
    float: left;
    width: 230px;
    cursor: default;
}

.aside-presentation{
    height: 270vh;
    margin-bottom: 10vh;
}

aside>h1 {
    position: absolute;
    writing-mode: vertical-rl;
    color: #757575;
    font-size: 9rem;
    margin-left: 0;
    margin-top: 6vh;
    left: -50px;
    font-family: "Aboreto", system-ui;
}

h1.title-page-responsive {
    display: none;
}

section.presentation-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

.presentation-text:nth-child(1) {
    max-width: 570px;
}

.presentation-text:nth-child(2) {
    max-width: 650px;
}

.Hello-text {
    display: inline-block;
    font-size: 5.5rem;
    transform: rotate(-10deg);
}

.presentation-text {
    max-width: 570px;
    text-align: left;
    line-height: 1.7;
}

.link-cv {
    color: var(--white);
    font-size: 1.2rem;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.link-cv:hover {
    display: inline-block;
    background: linear-gradient(to left, #CC5050 20%, #F5AC4F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);
}


svg.presentation-img {
    width: 400px;
    height: 400px;
    position: relative;
    margin-right: 10vw;
}

@media screen and (max-width: 1024px) {

    .bulle-container2 {
        height: 390dvh;
    }

    aside h1 {
        display: none;
    }

    .aside-presentation {
        width: 150px;
        height: 400%;
    }

    h1.title-page-responsive {
        color: var(--white);
        display: block;
        font-size: 3rem;
        margin: auto;

    }

    section.presentation-flex {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    section.competences-flex {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 15vh;
    }

    .accordion:nth-child(2), .accordion:nth-child(3) {
        margin: auto;
    }

}

.margin-right {
    margin-right: 230px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10vh;
    margin-right: 230px;
}


.section-title hr {
    width: 400px;
    height: 5px;
    background-color: var(--white);
}

.section-title h2 {
    font-size: 2rem;
    margin-left: 1vw;
    margin-right: 1vw;
}

section.competences-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.7;
}

li:nth-child(1) {
    color: var(--white);
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 10px;
}

li {
    color: var(--white);
    font-size: 1rem;
    list-style: none;
}

.opquast {
    text-align: left;
    line-height: 1.7;
    margin-bottom: 10vh;
}


.accordion {
    width: 65vw;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
    border: solid var(--white) 1px;
    border-radius: 4px;
}

.accordion button {
    appearance: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: transparent;
    color: var(--black);
    border: none;
    text-align: left;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bolder;
    transition: all ease 0.3s;
}

.accordion button:hover {
    cursor: pointer;
}

.accordion button:focus-visible {
    border: var(--orange) solid 4px;
}

.accordion button::after {
    content: '+';
    font-size: 1.5rem;
    color: var(--black);
    transition: all ease 0.3s;
}

.accordion button[aria-expanded='false']:hover {
    background-color: var(--light-orange);
}

.accordion button[aria-expanded='true']::after {
    content: '-';
}

.accordion p {
    color: var(--black);
    text-align: left;
    display: none;
    padding: 0 16px 16px;
    margin: 0;
}

.accordion button[aria-expanded='true']+p {
    display: block;
}


a.lien-contact {
    margin-top: 13vh;
    margin-left: 43vw;
}

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 2px 8px;
    background-color: transparent;
    color: var(--white);
    border: var(--white) solid 1px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
    writing-mode: vertical-lr;
    width: 40px;
    height: 130px;
    transform: rotate(180deg);

}

.back-to-top:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--white);
}

/* ---- Contact ---- */


.aside-contact {
    float: left;
    height: auto;
    width: 230px;
    overflow: hidden;
}

.aside-contact>h1 {
    position: absolute;
    writing-mode: vertical-rl;
    color: #757575;
    font-size: 7rem;
    left: -50px;
    font-family: "Aboreto", system-ui;
}

form {
    position: relative;
    width: 50vw;
    height: fit-content;
    margin: auto;
    padding: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background: rgba(20, 20, 20, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(74, 74, 74, 0.34);
}

.title-form {
    font-size: 3rem;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'montserrat', sans-serif;
    width: 30vw;
    padding: 10px;
    margin: 20px 0 10px 0;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    resize: none;
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: var(--light-orange) solid 2px;
    background: var(--white);
    color: var(--black);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-family: 'montserrat', sans-serif;
    color: var(--black);
}

.form-nom-prenom {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-nom-prenom input {
    width: 45%;
}

button[type='submit'] {
    width: 30vw;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background: var(--light-orange);
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

button[type='submit']:hover {
    background: var(--orange);
}

label {
    color: var(--white);
    font-size: 1.2rem;
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

.tooltip {
    position: absolute;
    display: inline-block;
    background: var(--light-orange);
    color: var(--black);
    padding: 5px;
    border-radius: 4px;
    z-index: 1000;
    pointer-events: none;
}